{% extends 'main_layout.html' %}

{% block title %}
Dashboard

{% endblock %}


{% block css %}

<style type="text/css">
	
	@media (min-width: 840px){
		.mdl-grid {
		     padding: 0px; 
		}
		.mdl-cell {
		     margin: 0px; 
		}
	}

	.mdl-card {
		border-radius: 0px;
	}
	
</style>
	
{% endblock %}

{% block before_main %}

{% endblock %}

{% block content %}
	<div class="mdl-grid ">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone dashboard_tabs">
 			<a class="mdl-navigation__link" href="/"><i class=" material-icons orange600" role="presentation">home</i>Home</a>
 			<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons orange600 my_profile" role="presentation">face</i>My Profile</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">inbox</i>Inbox</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">delete</i>Trash</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">report</i>Spam</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">forum</i>Forums</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">flag</i>Updates</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">local_offer</i>Promos</a>

        </div>

        <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--10-col mdl-cell--hide-tablet mdl-cell--hide-phone  background-color">
        	<div class="mdl-grid " style="width: 100%;">
        	<div class="mdl-cell--1-col">
        	</div>
        	<div class=" mdl-cell--10-col">
        	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: 100%;">
			  <thead>
			    <tr>
			      <th class="mdl-data-table__cell--non-numeric">Title</th>
			      <th>Slug</th>
			      <th>Posted On</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for article in articles %}
				  	<tr>
				      <td class="mdl-data-table__cell--non-numeric">{{article.title}}</td>
				      <td>{{article.slug}}</td>
				      <td>{{article.date}}</td>
				    </tr>
        		{% endfor %}
			  </tbody>
			</table>
			</div>
        	<div class="mdl-cell--1-col"></div>
        	</div>

        	<!-- {{ profile_form }} -->

        </div>
        
        <!-- <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--10-col mdl-cell--hide-tablet mdl-cell--hide-phone background-color">
        	<div class="mdl-grid " style="width: 100%;">
        	<div class="mdl-cell--1-col">
        	</div>
        	<div class=" mdl-cell--10-col">
        		{{ user_form }}
			</div>
        	<div class="mdl-cell--1-col"></div>
        	</div>
        </div> -->

    </div>
{% endblock %}

{% block before_body %}
{% endblock %}