{% extends 'main_layout.html' %}

{% load static from staticfiles %}

{% block title %}
	Dashboard1
{% endblock %}


{% block css %}

<style type="text/css">
	
	@media (min-width: 840px){
		.mdl-grid {
		     padding: 0px; 
		}
		.mdl-cell {
		     margin: 0px; 
		}
	}

	.mdl-card {
		border-radius: 0px;
	}
	
</style>
	
{% endblock %}

{% block before_main %}

{% endblock %}

{% block content %}

	<div class="mdl-grid" id="dashboard_contant">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone dashboard_tabs">
 			<a class="mdl-navigation__link" href="/"><i class=" material-icons orange600" role="presentation">home</i>Home</a>
 			<a class="mdl-navigation__link" id="my_profile" href="javascript:void(0);" v-on:click="show_dashboard_contant"><i class=" material-icons orange600" role="presentation">face</i>My Profile</a>
 			<a class="mdl-navigation__link" id="my_articles" href="javascript:void(0);" v-on:click="show_dashboard_contant"><i class=" material-icons" role="presentation">face</i>My Articles</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">inbox</i>Inbox</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">delete</i>Trash</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">report</i>Spam</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">forum</i>Forums</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">flag</i>Updates</a>
          	<a class="mdl-navigation__link" href="javascript:void(0);"><i class=" material-icons" role="presentation">local_offer</i>Promos</a>

        </div>

        <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--10-col mdl-cell--hide-tablet mdl-cell--hide-phone  background-color">
        	<div class="mdl-grid " style="width: 100%;">
        	<div class="mdl-cell--1-col">
        	</div>
        	<div class=" mdl-cell--10-col">

        		<!-- view my articles -->
        		<div id="show_my_articles">
		        	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: 100%;">
					  <thead>
					    <tr>
					      <th class="mdl-data-table__cell--non-numeric">Article Title</th>
					      <th>Slug</th>
					      <th>Posted On</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for article in articles %}
						  	<tr>
						      <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'articles:detail' slug=article.slug %}" target="_blank">{{article.title}}</a></td>
						      <td>{{article.slug}}</td>
						      <td>
						      	{{article.date}}
						      	

					            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white pull-right" role="presentation" id="delete_tt_{{article.slug}}" >
					                <i class="material-icons">delete</i>
					                <div class="mdl-tooltip mdl-tooltip--right" for="delete_tt_{{article.slug}}">
					                  delete
					                </div>
					            </button>
					            <a href="{% url 'articles:edit' slug=article.slug %}" target="_blank">
					            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white pull-right" role="presentation" id="edit_tt_{{article.slug}}"  >
					                <i class="material-icons">create</i>
					                <div class="mdl-tooltip mdl-tooltip--left" for="edit_tt_{{article.slug}}">
					                  edit
					                </div>
					            </button>
					            </a>
						      </td>
						    </tr>
		        		{% endfor %}
					  </tbody>
					</table>
				</div>



				<!-- view mmy profile -->
				<div id="show_my_profile" style="margin-top:20px;">

					
					<div class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: 100%;">

						<!-- {{ user_form }}
						{{ profile_form }} -->
					</div>

				</div>

			</div>
        	<div class="mdl-cell--1-col"></div>

        	<!-- {{ profile_form }} -->

        </div>

    </div>
{% endblock %}

{% block before_body %}

	<script src="{% static 'js/app.js' %}"></script>

{% endblock %}